<div class="center container">
<%= form_for(@institution) do |f| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% @institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="left field">
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="left field">
    <%= f.label :street, "Straße und Hausnummer" %><br>
    <%= f.text_field :street %>
  </div>
  <div class="left field">
    <%= f.label :Postleitzahl %><br>
    <%= f.text_field :postcode %>
  </div>
  <div class="left field">
    <%= f.label :Ort %><br>
    <%= f.text_field :city %>
  </div>
  <div class="left field">
    <%= f.label :Webseite %><br>
    <%= f.text_field :website %>
  </div>
  <div class="left field">
    <%= f.label :Kommentar %><br>
    <%= f.text_field :comment %>
  </div>

  <div class="actions">
    <%= f.submit "Datensatz speichern", :class=> "btn btn-success btn-sm" %>
  </div>

<% end %>
</div>