<div class="center jumbotron">

<h1>Institutionen</h1>
<p>&nbsp;</p>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name &nbsp;</th>
      <th>Straße &nbsp;</th>
      <th>Plz &nbsp;</th>
      <th>Ort &nbsp;</th>
      <th>Webseite &nbsp;</th>
      <th>Kommentar &nbsp;</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.name %></td>
        <td><%= institution.street %></td>
        <td><%= institution.postcode %></td>
        <td><%= institution.city %></td>
        <td><%= institution.website %></td>
        <td><%= institution.comment %></td>
        <td><%= link_to 'Anzeigen', institution %></td>
        <td><%= link_to 'Bearbeiten', edit_institution_path(institution) %></td>
        <td><%= link_to 'Löschen', institution, method: :delete, data: { confirm: 'Möchten Sie die Institution wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Neue Institution anlegen".html_safe, new_institution_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>
</div>
</div>