<div class="center jumbotron">

<p id="notice"><%= notice %></p>

<p class="left">
  <strong>Name:</strong>
  <%= @institution.name %>
</p>

<p class="left">
  <strong>Straße:</strong>
  <%= @institution.street %>
</p>

<p class="left">
  <strong>PLZ:</strong>
  <%= @institution.postcode %>
</p>

<p class="left">
  <strong>Ort:</strong>
  <%= @institution.city %>
</p>
  
<p class="left">
  <strong>Webseite:</strong>
  <%= @institution.website %>
</p>
  
<p class="left">
  <strong>Kommentar:</strong>
  <%= @institution.comment %>
</p>

<%= link_to 'bearbeiten', edit_institution_path(@institution), :class=>"btn btn-default btn-lg" %>
<%= link_to 'Alle Institutionen', institutions_path, :class=>"btn btn-default btn-lg"%>



</div>