<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this occasion from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="left field">
  <%= f.label :name, "Vor- und Nachname" %><br>
  <%= f.text_field :name %>
</div>
<div class="left field">
  <%= f.label :Nutzerinnenname %><br>
  <%= f.text_field :username %>
</div>
<div class="left field">
  <%= f.label :Passwort %><br>
  <%= f.password_field :password %>
</div>

<div class="actions" >
  <%= f.submit "Nutzerin speichern", :class=> "btn btn-success btn-default" %>
</div>
<% end %>
