<div class="center container">
  <div class="center jumbotron">

  <p id="notice"><%= notice %></p>

  <h1>Liste aller Nutzerinnen</h1>

  <p>&nbsp;<p>

    <table class="table table-condensed table-striped left">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @user.each do |users| %>
        <tr>
          <td><%= users.username %></td>
          <td><%= link_to "", edit_user_path(users), :class=>'glyphicon glyphicon-pencil btn btn-default btn-xs' %></td>
          <td><%= link_to "", users, method: :delete, data: { confirm: 'Möchten Sie die Nutzerin wirklich löschen?' }, :class=>'glyphicon glyphicon-trash btn btn-default btn-xs' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "Neue Nutzerin anlegen".html_safe, new_user_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>
  </div>
</div>

