<div class="center container">
  <div class="center jumbotron">

<p id="notice"><%= notice %></p>

<p class="left">
  <strong>Vor- und Nachname:</strong>
  <%= @user.name %>
</p>

<p class="left">
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'Bearbeiten', edit_user_path(@user), :class=>"btn btn-default btn-sm" %>
<%= link_to 'Alle Nutzerinnen', users_path, :class=>"btn btn-default btn-sm"%>

</div>
</div>
