<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
  </div>
  <div class="field">
    <%= f.label :Nachname %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :Vorname %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :Anrede %><br>
    <%= f.text_field :form_of_address %>
  </div>
  <div class="field">
    <%= f.label :Position%><br>
    <%= f.text_field :position %>
  </div>

  <div class="field email-container">
    <table>
      <thead>
        <th><%= f.label :Email %></th>
        <th>Löschen</th>
      </thead>
      <tbody>
        <%= f.fields_for :emails do |builder| %>
          <tr>
            <td><%= builder.text_field :value %></td>
            <td><%= builder.check_box '_destroy' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <a class="add-email">+</a><br />
  </div>

  <div class="field">
    <%= f.label :Festnetz %><br>
    <%= f.text_field :landline %>
  </div>
  <div class="field">
    <%= f.label :Mobil %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :Fax %><br>
    <%= f.text_field :fax %>
  </div>

  <div class="field">
    <%= f.label :Institution %><br>
    <%= f.fields_for :institutions do |builder| %>
    <%= builder.collection_select(:institution_id, Institution.all, :id, :name) %>
    <% end %>
  </div>



  <div class="actions">
    <%= f.submit nil, :id => "submit-contact-detail" %>
  </div>
<% end %>
