<div class="form-group required">
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="left field">
    <%= f.label :Nachname, :id => "form-group required", :class=> "col-md-12 control-label" %><br>
    <%= f.text_field :last_name %>
</div>
  <div class="left field">
    <%= f.label :Vorname, :id => "form-group required", :class=> "col-md-12 control-label" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="left field">
    <%= f.label :Anrede %><br>
    <%= f.text_field :form_of_address %>
  </div>
  <div class="left field">
    <%= f.label :Position%><br>
    <%= f.text_field :position %>
  </div>

  <div class="field left email-container">
    <table border="0">
      <thead>
        <th><%= f.label :Email, :id => "form-group required", :class => "form-group required col-md-12 control-label" %></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <%= f.fields_for :emails do |builder| %>
          <tr>
            <td><%= builder.text_field :value %>&nbsp;</td>
            <td><%= builder.check_box '_destroy'%>&nbsp;</td>
            <td>Löschen</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <a class="add-email btn btn-default btn-sm"><b>+ weitere Email</b></a><br /><br>
  </div>

  <div class="left field">
    <%= f.label :Festnetz %><br>
    <%= f.text_field :landline %>
  </div>
  <div class="left field">
    <%= f.label :Mobil %><br>
    <%= f.text_field :mobile %>
  </div>
  <div class="left field">
    <%= f.label :Fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="left field">
    <%= f.label :Institution %><br>
    <%= collection_select(:contact, :institution_id, @institutions, :id, :name, {include_blank: true}) %>
  </div>

  <div class="left field">
    <%= f.label :Anlässe %><br>
    <%= f.collection_select(:occasion_ids, @occasions, :id, :name, {}, {:multiple =>true}) %>
  </div>

<div class="left req"><b>* </b>Pflichtfeld bitte ausf&uuml;llen.</div><br>


  <div class="actions">
    <%= f.submit "Datensatz speichern",  :id => "submit-contact-detail", :class=> "btn btn-success btn-default" %>
  </div>
<% end %>
