  <div class="container">
    <div class="jumbotron">

  <h1>Liste aller Kontakte</h1>

<p>&nbsp;</p>

<div>
  <%= form_tag(search_contacts_path, method: "post") do %> 
    <%= label_tag :Anlässe %><br>
    <%= collection_select(:contact, :occasion_ids, @occasions, :id, :name, {}, {:multiple =>true}) %>
    <%= submit_tag("Filtern") %>
  <% end %>
</div> 

<div class="center">
<%= link_to "Alle Kontakte anzeigen".html_safe, contacts_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>
</div>

<table class="table table-condensed table-striped" border="0">
  <thead style="vertical-align:bottom">
    <tr>
      <th><%= sortable "last_name", "Nachname", @occasion_ids %>&nbsp;</th>
      <th>Vorname &nbsp;</th>
      <th>Position &nbsp;</th>
      <th><%= sortable "institution", "Institution", @occasion_ids %>&nbsp;</th>
      <th><%= sortable "postcode", "PLZ", @occasion_ids %>&nbsp;</th>
      <th>Email &nbsp;</th>
      <th>Kommentar &nbsp;</th>
      <th>Kontaktanlässe &nbsp;</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.last_name %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.position %></td>
        <td><%= contact.institution.name %></td>
        <td><%= contact.institution.postcode %></td>
        <td><%= contact.email_addresses.join(", ") %></td>     
        <td><%= contact.institution.comment %></td>
        <td><%= contact.occasions.present? ? contact.occasion_names.join(", ") : "" %></td>
        <td><%= link_to "", contact, :class=>'glyphicon glyphicon-eye-open btn btn-default btn-xs' %></td>
        <td><%= link_to "", edit_contact_path(contact), :class=>'glyphicon glyphicon-pencil btn btn-default btn-xs' %></td>
        <td><%= link_to "", contact, method: :delete, data: { confirm: 'Möchten Sie den Kontakt wirklich löschen?' }, :class=>'glyphicon glyphicon-trash btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center">
<br>
<%= link_to "Neuen Kontakt anlegen".html_safe, new_contact_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>

<%= link_to 'Download als CSV', contacts_path(format: :csv), :id=>"open-contacts-dialog-btn", :class=>"btn btn-info btn-sm" %>

</div>
