<div class="center jumbotron">

<h1>Liste aller Kontakte</h1>
<p>&nbsp;</p>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Vorname &nbsp;</th>
      <th><%= sortable "last_name", "Nachname" %>&nbsp;</th>
      <th>Anrede &nbsp;</th>
      <th>Position &nbsp;</th>
      <th>E-Mail &nbsp;</th>
      <th>Festnetz &nbsp;</th>
      <th>Mobil &nbsp;</th>
      <th>Fax &nbsp;</th>
      <th><%= sortable "institution", "Institution"%>&nbsp;</th>
      <th>Straße &nbsp;</th>
      <th><% sortable "postcode", "PLZ" %>&nbsp;</th>
      <th>Ort &nbsp;</th>
      <th>Webseite &nbsp;</th>
      <th>Kommentar &nbsp;</th>
      <th>Kontaktanlässe &nbsp;</th>
      <th colspan="15"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.form_of_address %></td>
        <td><%= contact.position %></td>
        <td><%= contact.email_addresses.join(", ") %></td>
        <td><%= contact.landline %></td>
        <td><%= contact.mobile %></td>
        <td><%= contact.fax %></td>
        <td><%= contact.institution.name %></td>
        <td><%= contact.institution.street %></td>
        <td><%= contact.institution.postcode %></td>
        <td><%= contact.institution.city %></td>
        <td><%= contact.institution.website %></td>
        <td><%= contact.institution.comment %></td>
        <td><%= contact.occasions.present? ? contact.occasion_names.join(", ") : "" %></td>
        <td><%= link_to 'Anzeigen', contact %></td>
        <td><%= link_to 'Bearbeiten', edit_contact_path(contact) %></td>
        <td><%= link_to 'Löschen', contact, method: :delete, data: { confirm: 'Möchten Sie den Kontakt wirklich löschen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Neuen Kontakt anlegen".html_safe, new_contact_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>

</div>
