<div class="center jumbotron">
  
<h1>Alle Kontakte</h1>
<p>&nbsp;</p>


<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Vorname &nbsp;</th>
      <th>Nachname &nbsp;</th>
      <th>Email &nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.emails.map { |e| e.value}.join(", ") %></td>
        <td><%= link_to 'Anzeigen', contact %></td>
        <td><%= link_to 'Editieren', edit_contact_path(contact) %></td>
        <td><%= link_to 'Löschen', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Neuen Kontakt anlegen".html_safe, new_contact_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>

</div>