<div class="center jumbotron">

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.emails.map { |e| e.value}.join(", ") %>
</p>

<%= link_to "Kontakt editieren".html_safe, edit_contact_path(@contact), :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>
<%= link_to "Alle Kontakte".html_safe, contacts_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>
</div>
