<%= form_for(@occasion) do |f| %>
  <% if @occasion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@occasion.errors.count, "error") %> prohibited this occasion from being saved:</h2>

      <ul>
      <% @occasion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
