<div class="center jumbotron">
<h1>Kontaktanlass bearbeiten</h1>

<p>&nbsp;</p>

<%= render 'form' %>

<p>&nbsp;</p>

<%= link_to "Anlass anzeigen".html_safe, @occasion, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>
<%= link_to "Alle Anl&auml;sse".html_safe, occasions_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-lg" %>



<%= link_to 'Show', @occasion %> |
<%= link_to 'Back', occasions_path %>
</div>