<div class="center container">
<div class="center jumbotron">

  <h1>Liste aller Anl&auml;sse</h1>

<p>&nbsp;<p>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occasions.each do |occasion| %>
      <tr>
        <td><%= occasion.name %></td>
        <td><%= link_to "", occasion, :class=>'glyphicon glyphicon-eye-open btn btn-default btn-xs' %></td>
        <td><%= link_to "", edit_occasion_path(occasion), :class=>'glyphicon glyphicon-pencil btn btn-default btn-xs' %></td>
        <td><%= link_to "", occasion, method: :delete, data: { confirm: 'Möchten Sie den Anlass wirklich löschen?' }, :class=>'glyphicon glyphicon-trash btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Neuen Anlass anlegen".html_safe, new_occasion_path, :id=>"open-contacts-dialog-btn", :class=>"btn btn-default btn-sm" %>
</div>
</div>