<header class="navbar navbar-fixed-top navbar-inverse">

    <div class="container">
  		<%= link_to "FCZB Kontaktdatenbank", root_path, id: "logo" %>

      <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Handbuch", '#' %></li>
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Neu <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <li><%= link_to "Kontakt", new_contact_path %></li>
              <li><%= link_to "Institution", new_institution_path %></li>
              <li><%= link_to "Anlass", new_occasion_path %></li>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Übersicht <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <li><%= link_to "Kontakte", contacts_path %></li>
              <li><%= link_to "Institutionen", institutions_path %></li>
              <li><%= link_to "Anlässe", occasions_path %></li>
            </li>
          </ul>
        </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Nutzerin <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Ausloggen", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Einloggen", login_path %></li>
        <% end %>
      </ul>
    </nav>
  	</div>
  </header>
