<!DOCTYPE html>
<html>
<head>
  <title>Adressdatenbank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
  	<div class="container">
  		<%= link_to "FCZB Adressdatenbank", root_path, id: "logo" %>
  	</div>
  </header>
<%= yield %>

</body>
</html>
