<!DOCTYPE html>
<html>
<head>
  <title>Kontaktdatenbank</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".nav_menu">
  <%= render 'layouts/header' %>
  <!-- <div class="center container">-->
		<%= yield %>
	<!-- </div> -->
</body>
</html>
